:root {
  --main-color: #e88d67;
  --second-color: #0e4749;
  --third-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
}
@font-face {
  font-family: "now-light";
  src: url("/fonts/now.light.otf");
}
@font-face {
  font-family: "Aleo-Black";
  src: url("/fonts/Aleo-Black.ttf");
}
@font-face {
  font-family: "now-medium";
  src: url("/fonts/NowAlt-Medium.otf");
}

.connectionForm input {
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: solid 1px;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.recipeTopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeName,
.recipeImageLink,
.recipeSecondaryInfo input {
  width: 80%;
}

.recipeImage {
  width: 80%;
  cursor: pointer;
  border-radius: 25px;
  margin: 1rem 0;
}

.recipeSecondaryInfo,
.autosuggest {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.autosuggest p {
  font-size: 1.2rem;
  font-family: "Aleo-Black";
  color: var(--second-color);
  margin-top: 1rem;
}

.suggestion {
  background-color: var(--main-color);
  color: var(--third-color);
  border-radius: 20px;
  border: none;
  padding: 0.8rem;
  margin: 0.1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.newIngredient {
  background-color: var(--second-color);
  color: var(--third-color);
  border-radius: 25px;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-family: "now-light";
  cursor: pointer;
  text-decoration: none;
  max-height: 2.2rem;
}

.autosuggest li {
  list-style-type: none;
  font-size: 1.1rem;
  font-family: "now-light";
  cursor: pointer;
}

.removeIngredient {
  background-color: var(--second-color);
  color: var(--third-color);
  border-radius: 25px;
  border: none;
  padding: 0.3rem 0.5rem;
  margin: 0.2rem;
  font-size: 0.6rem;
  cursor: pointer;
}

.recipeDescriptionContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 1rem;
}

.recipeDescriptionContainer label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-family: "Aleo-Black";
  color: var(--second-color);
}

.recipeDescriptionContainer textarea {
  padding: 1rem;
  border-radius: 20px;
  border: solid var(--second-color) 1px;
  font-size: 1rem;
  font-family: "now-light";
  background-color: #f2f2f2;
}

.recipeSubmit {
  background-color: var(--main-color);
  color: var(--third-color);
  border-radius: 25px;
  border: none;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.recipeCreationError {
  color: red;
  font-size: 0.8rem;
  font-family: "now-light";
}

@media screen and (min-width: 768px) {
  .recipeName,
  .recipeImageLink,
  .recipeSecondaryInfo input {
    width: 30%;
  }

  .recipeImage {
    width: 30%;
  }

  .recipeSecondaryInfo {
    flex-direction: row;
    justify-content: center;
  }

  .recipeSecondaryInfo,
  .autosuggest {
    width: 100%;
  }

  .autosuggestInteraction {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .recipeDescriptionContainer {
    width: 60%;
  }
}
