@font-face {
  font-family: "Aleo-Black";
  src: url("/fonts/Aleo-Black.ttf");
}
@font-face {
  font-family: "NowAlt-Medium";
  src: url("/fonts/NowAlt-Medium.otf");
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffffc;
  padding-top: 100px;
}

.imgcontainer {
  display: flex;
  max-width: 180px;
  height: 100%;
  margin-right: 100px;
  margin-left: 100px;
  margin: 0 auto 20px;
  border: 3px solid #0e4749;
  border-radius: 15px;
  box-shadow:
    -5px 5px 0px 0px #0e4749,
    -10px 10px 0px 0px rgba(14, 71, 73, 0.8),
    -15px 15px 0px 0px rgba(14, 71, 73, 0.6),
    -20px 20px 0px 0px rgba(14, 71, 73, 0.4);
}

.hero-image {
  max-width: 100%;
  border-radius: 15px;
}

.hero-header-container {
  max-width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.hero-title {
  font-family: "Aleo-Black";
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
  color: #0e4749;
}

.hero-baseline {
  margin-bottom: 20px;
  font-family: "NowAlt-Medium";
  font-size: 1.5rem;
  color: #0e4749;
}

.hero-button {
  font-family: "NowAlt-Medium";
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: #0e4749;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e88d67;
  color: black;
}

.recipe {
  font-family: "Aleo-Black";
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.5rem;
  color: #0e4749;
}

@media screen and (min-width: 768px) {
  .homepage {
    display: flex;
    align-items: center;
    background-color: #fffffc;
    padding-top: 50px;
  }

  .hero-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70svw;
    height: 86svh;
  }

  .imgcontainer {
    max-width: 300px;
    margin: 0 auto 40px;
    border: 3px solid #0e4749;
    border-radius: 15px;
    box-shadow:
      -5px 5px 0px 0px #0e4749,
      -10px 10px 0px 0px rgba(14, 71, 73, 0.8),
      -15px 15px 0px 0px rgba(14, 71, 73, 0.6),
      -20px 20px 0px 0px rgba(14, 71, 73, 0.4);
  }

  .hero-header-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 0;
  }

  .hero-title {
    font-family: "Aleo-Black";
    margin-bottom: 10px;
    font-size: 4.5rem;
    color: #0e4749;
  }

  .hero-baseline {
    font-family: "NowAlt-Medium";
    margin-bottom: 20px;
    font-family: "Now";
    font-size: 2rem;
    color: #0e4749;
  }

  .hero-button {
    font-family: "NowAlt-Medium";
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background-color: #0e4749;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .hero-button:hover {
    background-color: #e88d67;
    color: black;
  }

  .recipe {
    font-family: "Aleo-Black";
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #0e4749;
  }
}
