* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@font-face {
  font-family: "now-light";
  src: url("/fonts/now.light.otf");
}
body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hello {
  font-family: "now-light";
  margin: 1rem;
  color: #0e4749;
  font-weight: bold;
}
