@font-face {
  font-family: "NowAlt-Medium";
  src: url("/fonts/NowAlt-Medium.otf");
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10svh;
  width: 100svw;
  background-color: #0e4749;
  text-align: center;
}

.footer-link {
  color: #fffffc;
  text-decoration: none;
  font-family: "NowAlt-Medium";
}

.footer-link:hover {
  font-weight: bolder;
}

.footer-link:visited {
  color: #fffffc;
}

@media screen and (min-width: 768px) {
  .footer-container {
    font-size: 1.2rem;
  }
}
