:root {
  --main-color: #e88d67;
  --second-color: #0e4749;
}

@font-face {
  font-family: "now-light";
  src: url("/fonts/now.light.otf");
}

@font-face {
  font-family: "Aleo-Black";
  src: url("/fonts/Aleo-Black.ttf");
}

@font-face {
  font-family: "now-medium";
  src: url("/fonts/NowAlt-Medium.otf");
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeName {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--second-color);
  font-family: "Aleo-Black";
}

.numberPeople {
  border: 2px solid var(--main-color);
  border-radius: 15px;
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  text-align: center;
  float: right;
  margin-bottom: 15px;
  font-family: "now-medium";
  color: var(--second-color);
}

.recipeDetailImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
}

.planning,
.favoris {
  border: 2px solid var(--main-color);
  border-radius: 15px;
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  text-align: center;
  width: 48%;
  font-family: "now-medium";
  color: var(--second-color);
}

.lineContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200%;
}

.ingredientTitle {
  font-size: 17px;
  margin-top: 20px;
  text-align: left;
  color: var(--second-color);
  font-family: "Aleo-Black";
  width: 100%;
}

.customLine {
  height: 1px;
  width: 100%;
  background-color: black;
  margin-top: 10px;
}

.ingredientContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.ingredientItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 85px;
  box-sizing: border-box;
}

.ingredientImage {
  width: 80px;
  height: auto;
  border-radius: 5px;
  margin-top: 5px;
}

.ingredientName {
  margin-top: 5px;
  text-align: center;
  font-family: "now-medium";
  color: var(--second-color);
}

.recipeDescription {
  text-align: justify;
  margin: 20px 0;
  font-family: "now-medium";
  color: var(--second-color);
}

.textContainer {
  text-align: center;
  margin: 20px 0;
  font-family: "now-medium";
  color: var(--second-color);
}

.comment-box {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  font-family: "now-medium";
  color: var(--second-color);
  background-image: linear-gradient(
    to right,
    rgba(240, 240, 240, 0.9),
    rgba(240, 240, 240, 0.3)
  );
}

@media (min-width: 768px) {
  .recipeName {
    font-size: 2.5em;
    width: 100%;
  }

  .numberPeople {
    margin: 10px 0;
    font-size: 14px;
  }

  .recipeDetailImage {
    width: 40%;
    height: auto;
    border-radius: 10px;
  }

  .buttonContainer {
    max-width: 500px;
  }

  .planning,
  .favoris {
    font-size: 14px;
  }

  .ingredientTitle,
  .recipeTitle,
  .authorTitle,
  .avisTitle {
    font-size: 24px;
  }

  .customLine {
    height: 2px;
  }

  .ingredientContainer {
    display: flex;
    flex-direction: row;
  }

  .recipeDescription {
    margin: 30px 0;
  }

  .textContainer {
    margin: 30px 0;
  }

  .comment-box {
    padding: 30px;
    width: 80%;
    margin: 30px auto;
    font-size: 18px;
  }
}
