.forms {
  margin: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .forms {
    margin: 1.5rem 7rem 1.5rem 7rem;
  }
}

@media screen and (min-width: 1201px) {
  .forms {
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    gap: 2rem;
    justify-content: center;
  }
}
