:root {
  --main-color: #e88d67;
  --second-color: #0e4749;
  --third-color: white;
}

@font-face {
  font-family: "NowAlt-Medium";
  src: url("/fonts/NowAlt-Medium.otf");
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-connexion {
  background-color: var(--main-color);
  color: black;
  border-radius: 25px;
  font-size: 0.8rem;
  padding: 0.4rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "NowAlt-Medium";
}

.button-connexion:hover {
  background-color: var(--second-color);
  color: var(--third-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .button-connexion {
    font-size: 16px;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  }
}

@media screen and (min-width: 1201px) {
  .button-connexion {
    font-size: 17px;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  }
}
