.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fffffc;
  height: 5em;
  width: 100%;
  padding-right: 0.5rem;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.logo-button {
  display: flex;
  height: 6em;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logo-image {
  height: 4rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding-right: 1rem;
  }

  .logo-image {
    height: 6rem;
  }
}
