.Navbar {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fffffc;
  height: 5em;
  width: 100%;
  gap: 1rem;
}

.menu-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Logo {
  display: flex;
  height: 6em;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-right: 1rem;
}

.logoImage {
  height: 6em;
  margin: 0;
}
